{% extends 'layout.twig' %}

{% block navbar %}
    {% import "layout.twig" as layout %}
    {{ layout.navbar('api') }}
{% endblock %}

{% block content %}
    <div class="row">
        {{ api|raw }}
    </div>
{% endblock %}
