<!DOCTYPE html>
<html>
<head>
    <title>Builder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="/history">Builder</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            {% macro navbar(section_name) %}
                <ul class="nav navbar-nav navbar">
                    <li{% if section_name == 'history' %} class="active"{% endif %}><a href="/history">History</a></li>
                    <li{% if section_name == 'api' %} class="active"{% endif %}><a href="/api">Api</a></li>
                </ul>
            {% endmacro %}
            {% block navbar %}{% endblock %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
